<!DOCTYPE html>
<html>
<head>
    <title>Spesa Online</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <style>
    .delete-button {
      color: red;
    }
  </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <iframe src="https://www.soysuper.com" style="width:100%;height:1000px;"></iframe>
        </div>
        <div class="col-md-4">
            <a href="/import">Import Shopping List</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Quantità</th>
                        <th>Unità</th>
                        <th>Prodotto</th>
                        <th>Seleziona</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product[0] }}</td>
                            <td>{{ product[1] }}</td>
                            <td><a href="#" class="product-link" data-product="{{ product[2] }}">{{ product[2] }}</a></td>
                            <td><input type="checkbox" class="product-checkbox" data-product="{{ product[2] }}"></td>
                        </tr>
                    {% endfor %}
                    <br><form action="/delete_data">
                    <input class="delete-button" type="submit" value="Delete Data">
                    </form>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#file').change(function() {
        $('#upload-form').submit();
    });
    $('.product-link').click(function(event) {
        event.preventDefault();
        var product = $(this).data('product');
        var iframe = $('iframe');
        iframe.attr('src', 'https://www.soysuper.com/search?q=' + product);
        $('.product-checkbox[data-product="' + product + '"]').prop('checked', true);
    });
});
</script>
</body>
</html>